@model IPagedList<PM_Assignment.Item>

@{
    ViewBag.Title = "ProductList";
}

@using PagedList.Mvc;
@using PagedList;

<h2>Shopping</h2>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

@using (Html.BeginForm("ProductList", "Home", FormMethod.Get))
{
<div style="text-align:right">
    <b>Search :</b>
    @Html.TextBox("search")
    <input type="submit" name="submit" value="Search" class="btn btn-default"/>
    
</div>
}
&nbsp;

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3" style="border:2px solid black; text-align:center">
            <div class="row">
                <h4><b><span id="itemName" style="color:black">@item.ItemName</span> </b></h4>
            </div>
            <div class="row">
                <p>
                    <img src="\Images\SmallImages\@Path.GetFileName(@item.SmallImagePath)" height="150px" width="150px" />
                </p>
                <p>
                    <h5> Description : <span id="itemdescription" style="color:black">@item.ShortDescription</span></h5>
                </p>
                <p>
                    <h5> Price : <span id="itemPrice" style="color:black">@item.ItemPrice</span></h5>
                </p>
                <p>
                    <a href="@Url.Action("Edit", "ItemDataConnect", new { id = item.ItemId })" data-toggle="tooltip" data-placement="top" title="Edit">Edit</a>
                    &nbsp;
                    <a href="@Url.Action("Delete", "ItemDataConnect", new { id = item.ItemId })" data-toggle="tooltip" data-placement="top" title="Delete">Delete</a>
                </p>
            </div>
        </div>
    }
</div>

<div style="text-align:right">
    @Html.PagedListPager(Model, i => Url.Action("ProductList", "Home", new { i, search = Request.QueryString["search"] }))
</div>